<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_CsrfRotation>
            <version>0.1.0</version>
        </Meanbee_CsrfRotation>
    </modules>
    <global>
        <models>
            <meanbee_csrfrotation>
                <class>Meanbee_CsrfRotation_Model</class>
            </meanbee_csrfrotation>
        </models>
        <helpers>
            <meanbee_csrfrotation>
                <class>Meanbee_CsrfRotation_Helper</class>
            </meanbee_csrfrotation>
        </helpers>
    </global>
    <frontend>
        <events>
            <customer_customer_authenticated>
                <observers>
                    <meanbee_csrfrotation>
                        <type>singleton</type>
                        <class>meanbee_csrfrotation/observer</class>
                        <method>customerCustomerAuthenticated</method>
                    </meanbee_csrfrotation>
                </observers>
            </customer_customer_authenticated>
            <controller_action_postdispatch_customer_account_logout>
                <observers>
                    <meanbee_csrfrotation>
                        <type>singleton</type>
                        <class>meanbee_csrfrotation/observer</class>
                        <method>controllerActionPostdispatchCustomerAccountLogout</method>
                    </meanbee_csrfrotation>
                </observers>
            </controller_action_postdispatch_customer_account_logout>
        </events>
    </frontend>
</config>
